<div class="sidebar-box ftco-animate">
    <h3 class="sidebar-heading">Tag Cloud</h3>
    <ul class="tagcloud">
        <a *ngFor="let tag of tags" href="#" class="tag-cloud-link">{{tag.name}}</a>
    </ul>
</div>