<div class="col-md-12">
    <div class="blog-entry ftco-animate d-md-flex">
        <a [routerLink]="[ '/article', data.id ]" class="img img-2"
            style="background-image: url(../assets/images/image_1.jpg);"></a>
        <div class="text text-2 pl-md-4">
            <h3 class="mb-2"><a [routerLink]="[ '/article', 1 ]">{{data.title}}</a></h3>
            <div class="meta-wrap">
                <p class="meta">
                    <span><i class="icon-calendar mr-2"></i>{{data.publishedAt}}</span>
                    <span><a href="#"><i class="icon-folder-o mr-2"></i>{{data.category.name}}</a></span>
                    <span><i class="icon-comment2 mr-2"></i>{{data.commentsCount}} Comments</span>
                </p>
            </div>
            <p class="mb-4">{{data.text}}</p>
            <p><a [routerLink]="[ '/article', data.id ]" class="btn-custom">Read More <span
                        class="ion-ios-arrow-forward"></span></a></p>
        </div>
    </div>
</div>