<div class="row pt-md-4">
    <app-article *ngFor="let item of latestArticles" [data]="item.article"></app-article>
</div><!-- END-->
<div class="row" *ngIf="pageInfo.hasNextPage || pageInfo.hasPreviousPage">
    <div class="col">
        <div class="block-27">
            <ul style="width: 50%; margin: auto;">
                <li *ngIf="pageInfo?.hasPreviousPage" (click)="changePage(pageNumber - 1)">
                    <span>&lt;</span>
                </li>
                <li *ngFor="let item of pages" [ngClass]="{'active': pageNumber == item}" (click)="changePage(item)">
                    <span>{{item}}</span>
                </li>
                <li *ngIf="pageInfo?.hasNextPage" (click)="changePage(pageNumber + 1)">
                    <span>&gt;</span>
                </li>
            </ul>
        </div>
    </div>
</div>